.aboutMePage {
    background-color: #cfd8df;
    display: grid;
    grid-template-columns: repeat(20, calc(100% / 20));
    grid-template-rows: repeat(20, calc(100% / 20));
}
.aboutMePage .aboutMePageTitle{
    color: #28243d;
    font-size: 64px;
    font-weight: bolder;
    grid-column: 5/11;
    grid-row: 3/9;
}
.aboutMePageContent{
    grid-column: 12/17;
    grid-row: 3/18;
    overflow: hidden;
    display: flex;
    justify-content: center; 
}
.aboutMePageButtonDiv{
    grid-column: 5/11;
    grid-row: 10/16;
    
}
.aboutMePageButtonDiv button{
    height: 72px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: white;
    font-size: 24px;
}
.aboutMePageButtonDiv button:hover{
    background-color: #28243d;
    color: white;
}