/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width:720px) {
    /*Styling of Home Page
    .dropdownMenu {
        display: none;
    }
    .home {
        background-color: #cfd8df;
        display: grid;
        grid-template-columns: repeat(20, calc(100% / 20));
        grid-template-rows: repeat(20, calc(100% / 20)); 
    }
    */
    
    .title {
        font-size: 24px;
        font-weight: bolder;
        grid-column: 2/20;
        grid-row: 2/5;
        text-align: center;
    }
    
    .menu {
        grid-column: 3/18;
        grid-row: 16/20;
        display: grid;
        grid-template-columns: repeat(20, 12px);
        grid-template-rows: repeat(5, 24px);
        grid-row-gap: 6px;
    }
    
    .menuButton {
        border: none;
        background-color: white;
        text-align: left;
        font-size: 12px;
    }
    
    /*styling of each button inside menu*/
    .aboutMeButton {
        grid-column: 1/15;
        grid-row: 1/2;
    }
    .skillsButton {
        grid-column: 1/16;
        grid-row: 2/3;
    }
    .portfolioButton {
        grid-column: 1/17;
        grid-row: 3/4;
    }
    .cvButton {
        grid-column: 1/16;
        grid-row: 4/5;
    }
    .contactButton {
        grid-column: 1/15;
        grid-row: 5/6;
    }
    /*styling of p element inside button*/
    .aboutMeButton p {
        padding-left: 48px;
    }
    .skillsButton {
        padding-left: 56px;
    }
    .portfolioButton {
        padding-left: 64px;
    }
    .cvButton {
        padding-left: 56px;
    }
    .contactButton {
        padding-left: 48px;
    }
    .photoDiv {
        grid-column: 1/21;
        grid-row: 3/15;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;  
    }
    /*styling of each button transitions
    .menuButton {
        transition: 0.5s;
    }
    .menuButton:hover {
        background-color: lightgreen;
    }
    */

}