/*
Remember, CSS rules that appear later in the embedded styles override earlier rules if both have the same specificity. 

Desktop styles (not in a media query)
Tablet styles (max-width: 768px)
Mobile styles (max-width: 414px)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.fullscreen {
    width: 100%;
    height: 100vh;
}
